<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.almas.toggles"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_NETWORK_POLICY" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.SET_ORIENTATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.SHUTDOWN" />
    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
     <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Almas Toggle Settings" >

         <activity
            android:name="com.almas.toggles.MainActivity"
            android:label="Almas Toggle" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
           <activity
            android:name="com.almas.widget.Settings" 
            android:label="ToggleSettings"
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
             <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            
        </activity>
           <activity
            android:name="com.almas.window.BrightnessWindow" 
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
           </activity>
            <activity
            android:name="com.almas.window.TimeoutWindow" 
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
           </activity>
            <activity
            android:name="com.almas.window.ProfileWindow" 
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
           </activity>
              <activity
            android:name="com.almas.window.EatterWindow" 
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
           </activity>
          <activity
            android:name="com.almas.widget.ExtendsToggleView" 
             android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
           </activity>
           <activity
            android:name="com.almas.widget.ToggleOrder" 
             android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
             <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.DEFAULT"/>
           </activity>
    </application>

</manifest>
